:root {
  user-select: none;
  font-family: monospace;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #2E2E2E;
  flex-direction: column;
}

nav {
  display: flex;
  border-bottom: 1px black solid;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

nav p {
  margin: 0;
  color: snow;
}

nav input {
  width: 64px;
  height: 32px;
  border: 0;
  text-align: center;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

nav div {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

section {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #424242;
}

#canvas {
  width: 50rem;
  height: 50rem;
  display: flex;
  border: 1px snow solid;
}

#canvas div {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
}

footer {
  position: absolute;
  bottom: .5rem;
  left: 0;
  width: 100%;
  --color: snow;
  background: #333;
  text-align: center;
  color: var(--color);
}

footer a {
  color: var(--color);
  text-decoration: none;
  margin: 0 .2rem;
  position: relative;
  text-decoration: none;
}

footer a::after {
  content: '';
  position: absolute;
  bottom: -.1rem;
  left: 0;
  border-bottom: 1px solid var(--color);
  width: 100%;
  transition: .2s width;
  pointer-events: none;
}

footer a:hover::after,
footer a:focus::after {
  width: 0;
}

